<section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
    <div class="background-image-holder">
      <%= image_tag("reading-blog.jpg") %>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7">
                <h1>

                    Quick and simple meal tracker - 1
                </h1>
                <p class="lead">
                    Feel happier, stronger and sleep better by tracking the meals you eat and your regualr routine
                </p>
                <a class="btn btn--primary type--uppercase" href="/users/sign_up">
                    <span class="btn__text">
                        Sign up
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature--featured feature-1 boxed boxed--border bg--white">
                    <h5>Log what you eat</h5>
                    <p>
                        28 February, 2017
                    </p>
                    <a href="home-construction.html#">
                        Read Story
                    </a>
                    <span class="label">New</span>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Review data</h5>
                    <p>
                        24 January, 2017
                    </p>
                    <a href="home-construction.html#">
                        Read Story
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Understand what to change</h5>
                    <p>
                        10 January, 2017
                    </p>
                    <a href="home-construction.html#">
                        Read Story
                    </a>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable bg--secondary">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-8 col-lg-7">
                <h2>How and why it works</h2>
                <p class="lead">
                    Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                </p>
                <p class="lead">
                    Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                </p>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="text-block">
                    <h5>Global</h5>
                    <p>
                        enquiries@stackconstruction.net
                    </p>
                </div>
                <div class="text-block">
                    <h5>Melbourne</h5>
                    <p>
                        Rialto Building
                        <br /> 200 Bourke Street
                        <br /> Melbourne, Victoria
                    </p>
                </div>
                <div class="text-block">
                    <h5>Sydney</h5>
                    <p>
                        Suite 102
                        <br /> 364 Malvern Road
                        <br /> Armadale, Victoria
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial" data-value="33" data-size="208" data-bar-width="8" data-color="#4a90e2">
                        <span class="h3 radial__label">Concept</span>
                    </div>
                    <!--end radial-->
                    <p>
                        Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial" data-value="66" data-size="208" data-bar-width="8" data-color="#4a90e2">
                        <span class="h3 radial__label">Plan</span>
                    </div>
                    <!--end radial-->
                    <p>
                        Select from over 270 interface blocks, customise the look to build your perfect page.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial" data-value="100" data-size="208" data-bar-width="8" data-color="#4a90e2">
                        <span class="h3 radial__label">Construct</span>
                    </div>
                    <!--end radial-->
                    <p>
                        Download your page as a semantic HTML document and easily make further customisations and additions in your editor.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imageblock switchable feature-large bg--dark">
    <div class="imageblock__content col-lg-6 col-md-4 pos-right">
        <div class="background-image-holder">
            <img alt="image" src="img/construction-2.jpg" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7">
                <h2>Class-leading design and building processes</h2>
                <p class="lead">
                    Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                </p>
                <p class="lead">
                    Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<footer class="space--sm footer-1 text-center-xs ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline list--hover">
                    <li>
                        <a href="home-construction.html#">
                            <span>Our Company</span>
                        </a>
                    </li>
                    <li>
                        <a href="home-construction.html#">
                            <span>Locations</span>
                        </a>
                    </li>
                    <li>
                        <a href="home-construction.html#">
                            <span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="home-construction.html#">
                            <span>Work With Us</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li>
                        <a href="home-construction.html#">
                            <i class="socicon socicon-google icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="home-construction.html#">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="home-construction.html#">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="home-construction.html#">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
                <a href="home-construction.html#" class="btn type--uppercase">
                    <span class="btn__text">
                        Contact Us
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-12">
                <img alt="Image" class="logo" src="img/logo-dark.png" />
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> Stack Inc.</span>
                <a class="type--fine-print" href="home-construction.html#">Privacy Policy</a>
                <a class="type--fine-print" href="home-construction.html#">Legal</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
