<br>
<br>
<br>
<h1>Dashboard</h1>
<%= link_to 'Add meal', new_meal_path, class: 'btn btn--sm type--uppercase' %>

<h2>Charts</h2>
There will be a chart with your meals here

<h2>Meals</h2>
there will be a list of your meals here
