<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Liquid categories</h1>
        <%= link_to 'Add new category', new_liquid_category_path, class: "btn btn--primary text-white" %>
      </div>
    </div>
  </div>
</section>

<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-md-4">
          <a href="<%= food_category_path(category) %>">
            <div class="feature feature-1 boxed boxed--border">
              <!-- <span class="label">Keyword</span> -->
              <h5><%= category.name %></h5>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>
