<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Food categories</h1>
      </div>
      <div class="col-md-6">
        <%= link_to 'Add new category', new_food_category_path, class: "btn btn--primary text-white float-right" %>
      </div>
    </div>
  </div>
</section>

<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <% @categories.each do |category| %>
      <div class="col-md-4">
        <a class="" href="<%= food_category_path(category) %>">
          <div class="imagebg boxed boxed--lg" data-overlay="7">
              <div  class="background-image-holder"
                    style="background-image: url('/assets/inner-5.jpg');
                    opacity: 1;
                    background-position: initial initial;
                    background-repeat: initial initial;">
                  <img alt="background" src="/assets/inner-5.jpg">
              </div>
              <div class="container">
                  <h3><%= category.name %></h3>
                  <p>

                  </p>


              </div>
          </div>
          </a>
      </div>

      <% end %>
    </div>
  </div>
</section>
