<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><%= @category.name %></h1>
                <hr>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3 col-lg-2">
                <div class="text-block">
                    <div class="food-colour" style="background-color: #<%= @category.colour %>;">

                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="text-block">
                    <span class="h5">Description:</span>
                    <p>
                        <%= @category.description %>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="text-block">
                    <span class="h5">Foods:</span>
                    <ul class="bullets">
                        <li><a href="#"><span class="badge badge-primary">Chicken</span></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider" data-paging="true" data-arrows="true">
                    <ul class="slides">
                        <li>
                            <img alt="Image" src="img/work-single-1.jpg" />
                        </li>
                        <li>
                            <img alt="Image" src="img/work-single-3.jpg" />
                        </li>
                        <li>
                            <img alt="Image" src="img/work-single-4.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-block">
                    <h4>Related Case Studies</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="project-thumb hover-element border--round hover--active">
                    <a href="portfolio-single-1.html#">
                        <div class="hover-element__initial">
                            <div class="background-image-holder">
                                <img alt="background" src="img/work-2.jpg" />
                            </div>
                        </div>
                        <div class="hover-element__reveal" data-scrim-top="5">
                            <div class="project-thumb__title">
                                <h4>Get Lost! Thailand</h4>
                                <span>Print Marketing</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--end item-->
            <div class="col-md-6">
                <div class="project-thumb hover-element border--round hover--active">
                    <a href="portfolio-single-1.html#">
                        <div class="hover-element__initial">
                            <div class="background-image-holder">
                                <img alt="background" src="img/work-3.jpg" />
                            </div>
                        </div>
                        <div class="hover-element__reveal" data-scrim-top="5">
                            <div class="project-thumb__title">
                                <h4>M&amp;D Stairs Company</h4>
                                <span>Branding &amp; Identity</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--end item-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="cta">
                    <h2>Ready to start your project?</h2>
                    <p class="lead">
                        Each purchase of Stack comes with six months free support &mdash; and a lifetime of free content and bug-fix updates.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="https://themeforest.net/item/stack-multipurpose-html-with-page-builder/19337626?ref=medium_rare">
                        <span class="btn__text">
                            Purchase on Envato
                        </span>
                        <span class="label">$19 USD</span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
