<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @category.name %></h1> <%= link_to 'Edit', edit_food_category_path(@category) %>
        <hr>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <div class="food-colour" style="background-color: #<%= @category.colour %>;"></div>
      </div>
      <div class="col">
        <div class="text-block">
          <h2>Description</h2>
          <p><%= @category.description %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="offset-md-4 col">
        <ul>
          <li>
            <a href="#"><span class="badge badge-primary">Chicken</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
